{% extends 'base.twig' %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/stylesheets/debt.css')~v }}">
{% endblock %}

{% block content %}
    <div class="container-fluid mt-4">
        <div class="row">
            <div class="col-md-12">
                <h4>{{ debtor.firstname ~' '~ debtor.lastname }}</h4>
                <p>{{ debtor.description }}</p>
                <hr>
            </div>
            
            <div class="col-md-12">
                {% set debts = debtor.getDebts|sortbyfield('created_at', 'desc') %}

                {% for k, debt in debts %}

                {% if debt.getViewStatus != 1 %}

                    <p class="mt-3"><span class="date">{{ debt.getCreatedAt|date('F j, Y g:i a') }}</span> 
                        {% if debt.getViewStatus == 5 %}
                        <span class="float-right ml-3 edit-debt"><a href="{{ path('edit-debt', {id: debt.id }) }}"><i class="fas fa-pencil-alt"></i></a></span>
                        <span class="float-right delete-debt"><a href="{{ path('delete-debt', {id: debt.id, user_id: debtor.id}) }}"><i class="fas fa-times"></i></a></span>
                        {% endif %}
                    </p>
                    
                    <div class="row d-flex py-3 {{ debt.getViewStatus == 3 ? 'parent-paid' : null }}">
                        {% if debt.cash is not empty %}
                        <div class="col-12 mt-3 bg-note">
                            {% set total = debt.cash-debt.getPaidAmount %}
                            <p class="m-0 p-0">Paid: &#8369; {{ debt.getPaidAmount|default('0.00') }} 
                                {% if debt.getPaidAmount %}
                                    <span class="float-right">Paid at: {{ debt.getPaidAt|date('F j, Y g:i a') }}</span>
                                {% endif %}
                            </p>

                            <p class="m-0 p-0">Total: &#8369; {{ (debt.cash)|number_format(2, '.', ',') }}</p>
                            <p>Balance: &#8369; {{ total|number_format(2, '.', ',') }}</p>
                            <p class="mb-0 font-weight-bold">Note:</p>
                            <p>{{ debt.description|raw }}</p>
                        </div>
                        {% else %}
                            {% set total = 0 %}

                            <div class="col-12">
                                {% for item in debt.getDebtItems %}
                                    {% set total = (item.price*item.amount) + total %}
                                    <div class="row debt-list">
                                        <div class="col-6 text-left">{{ item.getItemName }} - (x{{ item.amount }})</div>
                                        <div class="col-6 text-right">Price: &#8369; {{ item.price|number_format(2, '.', ',') }}</div>

                                        {% if item.amount > 1 %}
                                        <div class="col-md-12 text-right">
                                            Subtotal: &#8369; {{ (item.amount*item.price)|number_format(2, '.', ',') }}
                                        </div>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>

                            <div class="col-12">
                                <hr>
                                <p class="m-0 p-0">Paid: &#8369; {{ debt.getPaidAmount|default('0.00') }} 
                                    {% if debt.getPaidAmount %}
                                        <span class="float-right">Paid at: {{ debt.getPaidAt|date('F j, Y g:i a') }}</span>
                                    {% endif %}
                                </p>
                                <p class="m-0 p-0">Total: &#8369; {{ total|number_format(2, '.', ',') }}</p>
                                <p class="m-0 p-0">Balance: &#8369; {{ (total-debt.getPaidAmount)|number_format(2, '.', ',') }}</p>
                            </div>
                        {% endif %}

                        {% if debt.getViewStatus == 5 %}
                        <div class="col-md-12 mt-3">
                            <form class="form-inline" method="POST" action="{{ path('pay-debt', {id: debt.id, user_id: debtor.id}) }}">
                                <div class="input-group">
                                    <input type="number" name="pay_amount" required="required" class="form-control" placeholder="Enter amount" />
                                    <div class="input-group-prepend">
                                        <button type="submit" class="btn btn-success">Pay</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        {% endif %}
                    </div>

                    <div class="hr-dashed"></div>

                {% endif %}
                
                 {% endfor %}
            </div>

        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ asset('assets/scripts/global.js')~v }}"></script>
{% endblock %}